.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: 'Albert Sans', serif;
}

.logo {
   display: flex;
   gap: 10px;
}

.logoName,
.menu {
   display: none;
}

.nav {
   display: flex;
   align-items: center;
   gap: 20px;
}

.navLink {
   text-decoration: none;
   color: #000;
   font-size: 22px;
}

.separator {
   color: #aaa;
}

.languageSwitcher {
   display: flex;
   align-items: center;
   gap: 8px;
   cursor: pointer;
   background-color: #e8e8e8;
   padding: 6px 10px;
   justify-content: space-between;
   border-radius: 12px;
}

.flagIcon {
   font-size: 16px;
}

.language {
   color: #000;
   font-size: 22px;
   font-weight: 600;
   font-family: 'Albert Sans', serif;
}

@media only screen and (max-width: 768px) {
   .nav {
      display: none;
   }

   .logoName,
   .menu {
      display: block;
   }
}
